<html>
	<head>
		<title>Add QA</title>
	</head>
	<body>
		<form class="add_qa" action="" method="POST">
		<!--auto populate both rooms and devices in a drop down-->
		<div>	
			<label for="Questions">Questions</label>
			<input style="display:block;" type="textbox" name="Questions" id="Questions" required><br/>
			
			<label for="Answers">Answers</label>
			<input style="display:block;" type="textbox" name="Answers" id="Answers"><br/>
			
		</div>
			<input type="Submit" value="submit"/>
		</form>
	</body>
</html>