<html>
	<head>
		<title>Create Organization</title>
	</head>
	<body>
		<h1>Create Organization</h1>
		<form class="form_create_org" action = "{{url_for('submit_u_ou')}}" method="POST">
			<label>Parent Organization</label><br/>
			<select name="ParentId">
				<option value="ou-3ntt-zha0amal">Abacies</option>
			</select>
			<br/><br/>
		
			<label for="Description">Description</label><br/>
			<input style="display:block;" type="textbox" name="org_name" id="org_name" required></br><br/>
		
			<input type="submit" value="Update Organization"/><br/>
		</form>
	</body>
	
</html>