<html>
	<head>
		<title>Create Room</title>
	</head>
	<body>
		<form class="create_room" action="" method="POST">
		<!--auto populate both rooms and devices in a drop down-->
		<div>	
			<label for="DeviceArn">Device</label>
			<input style="display:block;" type="textbox" name="DeviceArn" id="DeviceArn" required><br/>
			
			<label for="RoomArn">Room</label>
			<input style="display:block;" type="textbox" name="RoomArn" id="RoomArn"><br/>
			
		</div>
			<input type="Submit" value="submit"/>
		</form>
	</body>
</html>