<html>
	<head>
		<title>Create Room</title>
	</head>
	<body>
		<form class="create_room" action="{{url_for('add_rooms')}}" method="POST">
		<div>	
			<label for="RoomName">Room Name</label>
			<input style="display:block;" type="textbox" name="RoomName" id="RoomName" required><br/>
			
			<label for="Description">Description</label>
			<input style="display:block;" type="textbox" name="Description" id="Description"><br/>
			
			<label for="ProfileArn">Room Profile</label>
			<input style="display:block;" type="textbox" name="ProfileArn" id="ProfileArn"><br/>
			<!--create a drop down with created room profile-->
			<label for="ProviderCalendarId">Calender</label>
			<input style="display:block;" type="textbox" name="ProviderCalendarId" id="ProviderCalendarId"><br/>
			
			<label for="ClientRequestToken">Room ID</label>
			<input style="display:block;" type="textbox" name="ClientRequestToken" id="ClientRequestToken"><br/>
		</div>
			<input type="Submit" value="submit"/>
		</form>
	</body>
</html>