<html>
	<head>
		<title>Login</title>
	</head>
	<!-- <body>
		<form class="Login" action="" method="POST">
			
			<label for="username">UserName</label>
			<input style="display:block;" class="textbox" type="email" name="UserName" id="username"><br/>
			
			<label for="password">Password</label>
			<input style="display:block;" class="textbox" type="password" name="Password" id="password"><br/>
		
			<input type="Submit" value="submit"/>
		</form>
	</body> -->
	<body>
		<ul>
			<!--<li><a href='acc'>Account</a></li>
			<li><a href='org'>Organization</a></li>-->
			<li><a href='admin'>Admin</a></li>
			<li><a href='user'>User</a></li>
		</ul>
	</body>
</html>